
.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 40px;
   
}
.mb-3 {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.container .image{
    border: 1px solid black;
    width: 500px;
    border-radius: 25px;
}
.container .image img{
    height: 500px;
    width: 100%;
    border-radius: 25px;
}
.login input{
   margin-top:5px;
}
.login button{
    margin-top:5px;
}
/* css adicionar-tarefas */
.container-conteudo{
    display: flex;
    justify-content: center;
    
}
.container-conteudo h2{
    text-align: center;
}
.conteudo {
    display: flex;
    flex-direction: column;
    
}
.container-fluid{
    background-color: rgb(73, 73, 77);
    color:white;
    padding: 15px;
}
#data-inicio {
    margin-left:30px;
}
#data-termino {
    margin-left: 15px;
}
#hora-inicio, #hora-termino{
    margin-left:20px;
    margin-right:0;
}
