* {
    box-sizing: border-box;
   
}
.container {
    display: flex;
    padding-right: 20px;
    justify-content: space-around;
    padding: 40px;
}

.mb-3 {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.container .image{
    border: 1px solid black;
    width: 500px;
    border-radius: 25px;
}
.container .image img{
    height: 500px;
    width: 100%;
    border-radius: 25px;
}
